realm: fireinvent
displayName: FireInvent
enabled: true

smtpServer:
  host: $(env:SMTP_HOST)
  port: $(env:SMTP_PORT)
  from: $(env:SMTP_FROM)
  fromDisplayName: "FireInvent"
  ssl: true
  starttls: true
  auth: true
  user: $(env:SMTP_USER)
  password: $(env:SMTP_PASSWORD)

clientScopes:
- name: roles
  protocol: openid-connect
  protocolMappers:
  - name: client roles
    protocolMapper: oidc-usermodel-client-role-mapper
    consentRequired: false
    config:
      "claim.name": "roles"
      "jsonType.label": "String"
      "multivalued": "true"
      "userinfo.token.claim": "true"
      "id.token.claim": "true"
      "access.token.claim": "true"

roles:
  realm:
  - name: admin
    description: Full application administration
  - name: procurement
    description: Inventory and order management
  - name: maintenance
    description: Maintenance management

clients:
- clientId: fireinvent-spa
  name: FireInvent Single Page Application
  protocol: openid-connect
  publicClient: true
  standardFlowEnabled: true
  implicitFlowEnabled: false
  directAccessGrantsEnabled: false
  serviceAccountsEnabled: false
  attributes:
    "pkce.code.challenge.method": "S256"
    "post.logout.redirect.uris": "$(env:FIREINVENT_SPA_URL)/*"
  redirectUris:
  - $(env:FIREINVENT_SPA_URL)/*
  webOrigins:
  - $(env:FIREINVENT_SPA_URL)/*